header
    .hide-md
        .header-header
            .container
                .row.j-c-s
                    #time.fs-12
                    div
                        a.fs-12.mr-2(href="mailto:sales@masasuautosltd.com") sales@masasuautosltd.com
                        a.fs-12(href="mailto:info@masasuautosltd.com") info@masasuautosltd.com
        .header-img
            .container
                .row.justify-content-center
                    a(href="/")
                        img(src="/images/IMG-20210628-WA0000.jpg" )
        nav.header-link#sticky-header
            .container
                ul.row.justify-content-center.mb-0
                    li.mobile #[a(href="/") Home]
                    li.mobile #[a(href="/about") About]
                    li.mobile #[a(href="/used") Used]
                    li.mobile #[a(href="/new") New]
                    li.mobile #[a(href="/request") Request for Quote]
                    li.mobile #[a(href="/contact") Contact]
                
    .show-md#sticky-header-2.mobile-header
        .container
            .row
                i.fa.fa-bars(id="mobile-toogle")
                .justify-content-center.m-lr-auto
                    a.block.mobile-icon(href="/")
                        img(src="/images/IMG-20210628-WA0000.jpg")
        div.hide(id="mobile-view")
            nav.pt-3.mb-5
                ul.nav-tb
                    li #[a(href="/about" class="nav-2") About]
                    li #[a(href="/used" class="nav-2") Used]
                    li #[a(href="/new" class="nav-2") New]
                    li #[a(href="/contact" class="nav-2") Request for Quote]
                    li #[a(href="/contact" class="nav-2") Contact]
            .w-100
                a.btn.w-50.org-btn.hover-none(href="tel:+2349085764622") +2348038438134
                a.btn.w-50.blue-btn.hover-none(href="tel:+2349085764622") +2349085764622




block content
                           